<div class="jumbotron">
  <h1>Bloc Metrics</h1>

    <p>Anaylits for your Life.
  
  </br>

      <p>
          <%= link_to "Sign In", new_user_session_path, class: 'btn btn-default' %> or
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default' %> today!
      </p>
      <p>Join the movement! You'll quickly see your to-do list tamed and your productivity skyrocket.</p>
</div>
